<!doctype html>
<html lang="it">

<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Test di verifica infezione al SARS-CoV-2 (COVID-19)">
    <meta name="keywords"
        content="Covid-19, MLOps, SARS-CoV-2 Probability Checker, Covid-19 Probability Checker, SARS-CoV-2 Probability Infection Checker, Covid-19 Probability Infection Checker">
    <meta name="author" content="Antonio Romano">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="./static/favicon.ico" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Self Test COVID-19</title>
</head>

<body>
    <!--NavBar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div style="margin-top: 10px; margin-right: 15px;">
            <a class="navbar-brand" href="#">
                <img src="/static/logo.png" width="30" height="30" alt="">
                <span style="margin-top: 10px; color: white; font-size: 20px ;"><b>Self Test COVID-19</b><br>
                    <p style="font-size: small; text-align: right;">Probability Infection Checker</p></a></span>
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/About">Come funziona il test</a>
                </li>

        </div>
    </nav>

    <div class="d-flex justify-content-center mt-5">
        <form>
            <div class="form-group">
                <label for="emailaddress">Indirizzo email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Inserisci email">
                <small id="emailHelp" class="form-text text-muted">Non condivideremo mai la tua email con nessun
                    altro.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Ricordami</label>
            </div>
            <div class="button text-center mt-3">
                <button type="submit" class="btn btn-primary">Accedi</button>
            </div>
        </form>
    </div>


    <!--Copyright-->
    <!-- Footer -->
    <footer class="text-lg text-lg-start bg-white text-muted">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        </section>
        <!-- Section: Social media -->

        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4  text-primary">
                            <i class="fas fa-gem me-3"></i>Self Test COVID-19
                        </h6>
                        <p>
                            INFORMAZIONI UTILI DA SCRIVERE Scrivere qualcosa Scrivere qualcosa scrivere qualcosa
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4  text-primary">
                            Products
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Angular</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">React</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Vue</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Laravel</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4  text-primary">
                            Accesso al sistema
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Farmacia</a>
                        </p>
                        <p>
                            <a href="#" class="text-reset">Admin</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4  text-primary">SOURCE CODE</h6>
                        <p><i class="fas fa-home me-3"></i> Visita il nostro repository</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i>
                            info@example.com
                        </p>
                        <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                        <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <hr>
        <div class="text-center p-4  text-primary" style="background-color: rgba(255, 255, 255, 0.05);">
            © 2022 Copyright:
            <a class="text-reset fw-bold">Antonio Romano, Giuseppe Riccio</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->


    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    </nav>


    <!--JavaScript-->
    <!--jQuery, Popper.js, Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>