<!doctype html>
<html lang="it">

<head>
  <!-- Meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="title" content="SelftTestCOVID19">
  <meta name="description" content="Se presenti dei sintomi e vuoi capire se sei potenzialmente positivo, fai il nostro test. Se il risultato del test è maggiore del 50% ti proporremo in automatico di fare la prenotazione del tampone rapido/molecolare alla farmacia più vicina.">
  <meta name="keywords" content="SelfTestCOVID19, COVID19, Test tamponi, tamponi rapido, tamponi molecolare, prenotazione tampone, prenotazione tampone rapido, prenotazione tampone molecolare, farmacia tamponi, farmacia tampone rapido, farmacia tampone molecolare
  Covid-19, MLOps, SARS-CoV-2 Probability Checker, Covid-19 Probability Checker, SARS-CoV-2 Probability Infection Checker, Covid-19 Probability Infection Checker">
  <meta name="robots" content="index, follow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="revisit-after" content="1 days">
  <meta name="author" content="Antonio Romano, Giuseppe Riccio">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="./static/favicon.ico" type="image/x-icon">
  <link rel="icon" href="./static/favicon.ico" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Self Test COVID-19 | Modifica disponibilità tamponi</title>
</head>

<body>
    <!--NavBar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div style="margin-top: 10px; margin-right: 15px;">
            <a class="navbar-brand" href="#">
                <img src="/static/logo.png" width="30" height="30" alt="">
                <span style="margin-top: 10px; color: white; font-size: 20px ;"><b>Self Test COVID-19</b><br>
                    <p style="font-size: small; text-align: right;">Probability Infection Checker</p></a></span>
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboardFarmacia"><i class="fa fa-tachometer" aria-hidden="true"></i>
                        Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/creazioneDisponibilitaTamponi"><i class="fa fa-plus"
                            aria-hidden="true"></i> Creazione disponibilità tamponi</a>
                </li>
                <li class="nav-item">
                <li class="nav-item active">
                    <a class="nav-link" href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modifica
                        disponibilità tamponi<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/rimuoviDisponibilitaTamponi"><i class="fa fa-trash"
                            aria-hidden="true"></i> Rimuovi disponibilità tamponi</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <center>
            <h2 class="text-center" style="margin: 25px;"><b><span style="color: #006eff;">
                        Modifica disponibilità tamponi in Farmacia </span></b></h2>
            <h7><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Modifica la disponibilità dei tamponi
                <b>giornalmente</b>. <br>
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Occhio, modifica soltanto <b>una riga</b> e
                conferma le modifiche con il pulsante <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </h7>

            <div class="d-flex justify-content-center mt-3">
                {% if msg != "" %}
                {% block content %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ msg }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endblock content %}
                {% elif msg_error != "" %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ msg_error }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
            </div>

            <div class="container">
                <div class="d-flex justify-content-center mt-5 table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nome tampone</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Numero pezzi</th>
                                <th scope="col">Giorno</th>
                                <th scope="col">Ora Inizio</th>
                                <th scope="col">Ora Fine</th>
                                <th scope="col">Prezzo €</th>
                                <th scope="col">Azione</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tampone in tamponi %}
                            <form action="/{{ tampone.ID }}/modificaDisponibilitaTamponi" method="POST">
                                <tr>
                                    <th scope="row">{{ tampone.ID }}</th>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="NomeTampone"
                                                placeholder="Nome del tampone" value="{{ tampone.NomeTampone }}"
                                                required>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <select class="custom-select" name="Tipo" id="Tipo">
                                                <option value="{{ tampone.Tipo }}" selected hidden>{{ tampone.Tipo }}
                                                </option>
                                                <option value="Rapido">Rapido</option>
                                                <option value="Molecolare">Molecolare</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="number" class="form-control" name="N_pezzi"
                                                placeholder="N_pezzi" value="{{ tampone.N_pezzi }}" required>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="date" class="form-control" name="Giorno" placeholder="Giorno"
                                                value="{{ tampone.Giorno }}" required>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="time" class="form-control" name="OraInizio"
                                                placeholder="Fascia oraria" value="{{ tampone.OraInizio }}" required>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="time" class="form-control" name="OraFine"
                                                placeholder="Fascia oraria" value="{{ tampone.OraFine }}" required>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="number" step="0.01" class="form-control" name="Prezzo"
                                                placeholder="Prezzo" value="{{ tampone.Prezzo }}" required>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary"><i
                                                    class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            </form>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </center>
    </div>
</body>

<!--Copyright-->
<!-- Footer -->
<footer class="text-lg text-lg-start bg-white text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4  text-primary">
              <i class="fas fa-gem me-3"></i>Self Test COVID-19
            </h6>
            <p>
              Prenotazione interattiva in farmacia per la somministrazione e acquisto dei tamponi <b>rapidi/molecolari</b>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4  text-primary">
              Policy
            </h6>
            <p>
              <a href="#!" class="text-reset">Privacy Policy</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Cookie Policy</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Condizioni d'uso</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4  text-primary">
              Accesso al sistema
            </h6>
            <p>
              <a href="/loginFarmacia" class="text-reset">Farmacia</a>
            </p>
            <p>
              <a href="/loginAdmin" class="text-reset">Admin</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4  text-primary">SOURCE CODE</h6>
            <p>Scopri il codice sorgente del progetto SelfTestCOVID19, è <b>open source</b></p>
            <p><i class="fa fa-github"></i> Visita il nostro <a href="https://github.com/giuseppericcio/SelfTestCovid19">repository</a></p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <hr>
    <div class="text-center p-4  text-muted" style="background-color: rgba(255, 255, 255, 0.05);">
      © 2022 Copyright:
      <a class="text-muted fw-bold">Antonio Romano, Giuseppe Riccio</a>
      <small id="dateHelp" class="form-text text-muted text-primary">Il progetto è stato realizzato per soli scopi
        dimostrativi per l'esame del Corso Magistrale di <b>Software Architecture Design</b> all' Università della
        Federico II di Napoli</small>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  


    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    </nav>



    <!--JavaScript-->
    <!--jQuery, Popper.js, Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>